* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(198, 188, 188, 0.742);

}
.wrapper {
    margin:  auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}